/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
  display: flex;
  width:80%;

  background-color:silver;
  justify-content: center;
  align-items: center;
  padding:10px 20px;
  margin: 10px auto;

}
.player-list{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  gap:10px;
  width:700px;
  flex-basis:80%;
  /* min-width: 600px; */
  margin:auto;

}
.player-add{
  width:40%;
  padding:10px ;
  background-color:seagreen;
  font-weight: 600;
  transition: all .25s ease-in ;

}
.player-add:hover{
  transform: translate(5px);
  opacity: .5;
}
.header{
   position:sticky;
   width:100%;
   color: aliceblue;
   top:0;
  left:0;
  right: 0;
  z-index: 100;
  background:grey;
  opacity: .6;
  text-align: center;
  padding: 20px 5px;

}
